body{
    background-image: url("all.jpg");
    background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 90vh;
    font-family: 'Times New Roman';
}

.main-main{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(88, 58, 19, 0.671);
    box-shadow: 0 0 20px rgba(255,255,255,.7);
}

.main-main h1{
    text-align: center;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

.main-main label{
    text-align: left;
    font-size: 15px;
    color: hsl(187, 31%, 94%);
    font-weight: bold;
}

.main-main input{
    width: 93%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #f5f0f0;
    font-size: 13px;
    font-weight: bold;
}
.main-main #button {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: #2979ff;
    font-size: 18px;
    color: #fafafa;
}

button{
    margin-left: 40%;
}